img,
.Temperature {
    display: inline-block;
}

.Temperature h2 {
    font-size: 25px;
}

.Temperature #temperature {
    display: inline;
    font-size: 35px;
}

.Temperature #weather-icon {
    margin: 0 0 0 -15px;
}

.celsius,
.fahrenheit {
    border: none;
    background-color: transparent;
    padding: none;
    margin: none;
}
